@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto;
    background-color: #1C1C1C;
    color: #fff;
}

header {
    margin-top: 42px;

}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tit,
.card div p,
.textproduct {
    font-size: 16px;
    opacity: .7;
}

a {
    color: #fff;
}


.navicetion ul {
    display: flex;
    gap: 28px;
}

.logo {}

.navicetion a {
    font-size: 14px;
    opacity: .7;
    transition: opacity 0.3s;
}

.navicetion a.glavn {
    opacity: 1;
}

.navicetion a:hover {
    opacity: .9;
}

.btn:hover {
    opacity: .8;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    background-color: #F6762C;
    border-radius: 5px;
    padding: 15px 37px;
    transition: opacity 0.5s;
}


.welcom {
    min-height: 100vh;
    margin-top: -91px;
    padding: 286px 0 240px;
    background-image: url(/images/welcome-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container2 {
    max-width: 550px;
}

.welcomP {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.welcomtitle {
    font-size: 58px;
    font-weight: 500;
    margin-bottom: 37px;
}

.welcomPr {
    font-size: 18px;
    font-weight: 400;
    opacity: 70%;
    margin-bottom: 42px;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.card div {
    width: 262px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #312F30;
    object-fit: cover;
    text-align: center;
}

.card div h5 {
    margin-top: 28px;
    font-size: 20px;
    font-weight: 500;
}

.card div p {
    margin: 12px 35px 50px;
}

.food {
    margin-top: 115px;
    margin-bottom: 105px;
}

.burgerking .container {
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.burgerking .container img {
    margin-right: 230px;
}

.burgerking {
    background-color: #312F30;
}

.conta {
    max-width: 400px;
}

.conta h3 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 25px;
}

.tit {
    margin-bottom: 15px;
}

.conta a {
    display: block;
    width: 166px;
    margin-top: 11px;
}

.tit2,
.tit3,
.tit4 {
    color: #F6762C;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.tit2 {
    font-size: 20px;
}

.tit3 {
    font-size: 16px;
    text-decoration-line: line-through;
    opacity: .5;
}

.product {
    margin: 150px 0;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.text div {
    margin-bottom: 11px;
}

.text h4 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.a:nth-child(even) {
    padding: 60px 290px 60px 29px;
}

.textproduct {
    margin-bottom: 11px;
}

.text .tit2 {
    margin-right: 5px;
}

.a {
    background-repeat: no-repeat;
    width: 555px;
    height: 300px;
    padding: 60px 29px 60px 290px;
}

.productcontainer {
    background-image: url(/images/product-1.jpg);

}

.productcontainer2 {
    background-image: url(/images/product-2.jpg);

}

.productcontainer3 {
    background-image: url(/images/product-3.jpg);

}

.productcontainer4 {
    background-image: url(/images/product-4.jpg);
}

.feedback {
    margin: 0 0 200px;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedText {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 370px;
    margin-left: 130px;
}

.feedText::before {
    content: url(/images/icons/quote.svg);
}

.feedText p {
    opacity: .7;
    font-size: 16px;
    margin: 30px 0;
}

.feedText cite {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 2px;
}

.feedText span {
    font-size: 12px;
    font-weight: 500;
    opacity: .7;
}


.dounloud {
    background-color: #312F30;
}

.dounloud .container {
    display: flex;
    justify-content: space-between;
    padding: 60px 93px;
}

.dounloud h3 {
    font-size: 40px;
    font-weight: 500;
}



footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    height: 380px;
    justify-content: space-between;
}
.contacts{
    margin-bottom: 15px;
}
.f{
    margin-bottom: 26px;
}
.cards{
    margin-bottom: 10px;
}
.contacts a{
    font-size: 12px;
    opacity: 0.8;
}
.icon{
    margin-right: 10px;
}
.nav>ul{
    display: flex;
    flex-direction: row;
}
.m, .l{
    margin-right: 160px;
}
ul p{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}
ul li{
    margin-bottom: 15px;
    font-size: 12px;
    opacity: .8;
}
.www{
    margin-bottom: 0;
}
.logobox{
    margin-bottom: 70px;
    margin: 0 auto;
}
.logobox p{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 1150px){

    .card{
        justify-content: space-around;
    }
}
@media (max-width: 1100px){
    .welcomPr{
        opacity:1;
    }
    .burgerking .container img{
        margin-right: 10px;
    }
}
@media (max-width: 900px){
    footer .container{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacts socials"
    "footerNav footerNav";
    justify-items: center;
    
}
footer .container{
    height: 300px;
}
.contacts{
grid-area: contacts;
margin-bottom: 0;
}
.nav{
    
grid-area: footerNav;
}
.logobox{
    grid-area: socials;
    margin: auto 0;
}
.f{
    margin-bottom: 10px;
}
}
@media (max-width: 850px){
.burgerking .container{
    flex-direction: column;
    text-align: center;
}

.burgerking .container img{
    margin-right: 0;
}
.conta a{
    margin-right: auto;
    margin-left: auto;
}
}
@media (max-width: 750px){
    .dounloud .container{
        padding: 40px 55px;
        align-items: center;
    }
    .feedback .container{
        margin-bottom: -100px;
    }
    .dounloud h3{
        font-size: 33px;
    }
    .feedText{
        margin-left: 0;
    }
}

@media (max-width: 650px){
    .welcom{
        margin-top: -193px;
    }
    header .btn{
        display: none;
    }
    .feedback img{
        width: 200px;
    }
    
}
@media (max-width: 600px){
    .dounloud .container{
    padding: 30px 40px;
    }
.dounloud h3{
    font-size: 25px;
}
footer .container{
    display: flex;
    justify-content: space-around;
    height: 150px;
}
.nav>ul{
    display: none;
}
}
@media (max-width: 500px){
.welcomtitle{
    font-size: 45px;
    margin-bottom: 24px;
}
.welcomPr{
    font-size: 14px;
}
.welcomP{
    font-size: 13px;
}
.a{
    padding-left: 40%;
}
.a:nth-child(even){
    padding-right: 40%;
}
.btn {
    font-size: 11px;
    padding: 10px 28px;
}
.dounloud h3{
    font-size: 22px;
}
.dounloud .container {
        padding: 20px 30px;
    }
    .textproduct{
        opacity: 1;
    }
}
@media (max-width: 450px){
.navicetion a{
    font-size: 11px;
}
    header .container{
        flex-direction: column;
        height: 100px;
    }
}
@media (max-width: 400px){
    .tit{
        font-size: 13px;
    }
    .feedback img{
        width: 170px;
    }
    .feedText p{
        font-size: 10px;
    margin: 20px 0;
    }
    .feedText cite{
        font-size: 17px;
    }
    .feedText span{
        font-size: 9px;
    }
}
